<%= form_for(@post, :html => { :multipart => true }) do |f| %>
   <div class="field">
     <%= f.label 'Description' %><br>
     <%= f.text_area :text %>
   </div>

   <%= f.fields_for :attachments do |a| %>
     <div class="field">
       <%= a.label 'Attachments' %><br>
       <%= a.file_field :data, :multiple => true, name: "attachments[data][]" %>
     </div>
   <% end %>

   <div class="actions">
     <%= f.submit 'Save' %>
   </div>
<% end %>
