<div>
  <h4>Descrição</h4>
  <%= @post.text %>
</div>

<h4>Anexos</h4>
<% @attachments.each do |a| %>
  <%= image_tag a.data.url :thumb %>
  <% image_tag a.data %>
<% end %>

<div id="tags">
  <h4>Tags</h4>
  <%= render @post.tags %>
</div>

<div id="comments">
  <h4>Comentários</h4>
  <%= render @post.comments %>
</div>

<div id="new_comment">
  <%= render 'comments/form' %>
</div>
